/******************************************************************
Site Name: Alura
Author: John Gibbons
******************************************************************/
@import "compass/css3/transform";

.home .header {
	position: absolute;
	bottom: -64px;
	top: auto;
}

.home .header.stuck {
  position: fixed;
  top: 0;
  bottom: auto;
}

.home .header.stuck.opened {
  top: auto;
  bottom: 0;
}

#home-hero {
	position: relative;
	background-size: cover;
	height: 100vh;
	width: 100%;
	z-index: -1000;
}

#hero-content {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);
	text-align: center;

	.button {
		color: $white;
		margin-top: 57px;
	}

	#home-subtitle {
		font-family: $adobe-text-pro;
		font-style: italic;
		font-size: 12px;
		color: $white;
		text-transform: none;
		letter-spacing: .05em;
	}
}

#home-logo {

	img {
		display: block;
		width: 110px;
		height: 80px;
		margin: 0 auto;
	}
}


#scroll-down {
	position: absolute;
	bottom: 13px;
	left: 50%;
	@include translateX(-50%);

	p{
		text-align: center;
		color: $white;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: 600;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 14px;
		height: 8px;
	}
}

#home-content-title {
	display: none;
}

#home-about-image {
	width: 100%;
	height: 213px;
	background-size: cover;
	background-position: center;
}

#home-cta {
	text-align: center;
	a {
		color: $white;
		margin-bottom: 10px;
		width: 219px;
	}
}

#map-latitude, #map-longitude {
	display: none;
}

#map-canvas {
	width: 100%;
	height: 213px;
	margin-top: 100px;
}

