/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  @include container(span(14));
}

.home .wrap {
	@include container(span(16 of 16));
}

.nav {

	ul {
	}
	li {

		a {
			font-size: 14px;
			padding: 0.5em 0.75em;
			}
		}
	}

.image-thumb {
	@include gallery(2 of 12);
	margin-bottom: gutter(12);
 }